#input-form-1 {
  width: 100%;
  text-align: center;
}

#input-form-1:focus {
  outline: none;
}

#input-form-1:focus::placeholder {
  color: transparent;
}

#edit-description {
  min-width:50px!important;
  max-width:99.99%!important;
  transition: width 0.0005s;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  &:focus {
    background-color: white;
    text-decoration: none;
    border: none;
    color: black;
    outline: none;
  }
}

#edit-description:focus::placeholder {
  color: transparent;
}

#edit-description::placeholder {
  color: black;
}

#desc-ctn {
  display: flex;
}

