.sign-in-entry {
  // display: flex;
  align-self: center;
  // align-items: center;
  // justify-content: space-between;
  width: 50vw;
  @media screen and (max-width: $break-large){
    width: 70vw;
  }
}

.form-backdoor {
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 10px;
  input {
    font-size: 16px;
    width: 250px;
  }
  @media screen and (max-width: $break-ipad){
    flex-direction: column;
    input {
      width: 100%;
    }
  }
}

.form-backdoor>* {
  @media screen and (max-width: $break-ipad){
    width: 100%;
  }
}

.submit-devise-btn {
  margin: 0;
}

.form-control {
  border: 2px solid black;
  height: 32px;
  &:focus {
    outline: 0;
    box-shadow: none;
    border-color: black;
  }
}

.form-actions {
  text-align: center;
  & > input {
    &:hover {
      margin-top: -2px;
    }
    @media screen and (max-width: $break-ipad){
        width: 100%;
      }
  }
}

.footer-devise {
  @media screen and (max-width: $break-large){
    width: 94%;
    align-self: center;
  }
}

#smoking {
  @media screen and (max-width: $break-large){
    margin-left: 6%;
  }
}

.form-control::-webkit-input-placeholder { color: rgba(25, 25, 25, 0.9); }  /* WebKit, Blink, Edge */
.form-control:-moz-placeholder { color: rgba(25, 25, 25, 0.9); }  /* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder { color: rgba(25, 25, 25, 0.9); }  /* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder { color: rgba(25, 25, 25, 0.9); }  /* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder { color: rgba(25, 25, 25, 0.9); }  /* Microsoft Edge */


// input[type="password"] {
//   // font-family: $password;
//   // font-size: 32px;
// }
