<div class="error-bangers">
  <% 15.times do %>
    <h3>SORRY, THE CLUB IS FULL</h3>
  <% end %>
  <h3>ARE YOU HIGH ARE YOU H</h3>
  <% 20.times do %>
    <h3>SORRY, THE CLUB IS FULL</h3>
  <% end %>
</div>
