<div class="error-bangers">
  <% 15.times do %>
    <h3>CLICK ON EACH YOUTUBE URL, AND PASTE A YOUTUBE URL</h3>
  <% end %>
  <h3>ARE YOU HIGH ARE YOU HIGH ARE YOU HIGH ARE YOU HIGH </h3>
  <% 20.times do %>
    <h3>CLICK ON EACH YOUTUBE URL, AND PASTE A YOUTUBE URL</h3>
  <% end %>
</div>
