<div class="error-bangers">
  <% 15.times do %>
    <h3>YOU CAN ONLY PASTE YOUTUBE URLS</h3>
  <% end %>
  <h3>ARE YOU HIGH ARE YOU HIGH ARE YOU</h3>
  <% 20.times do %>
    <h3>YOU CAN ONLY PASTE YOUTUBE URLS</h3>
  <% end %>
</div>
