<div class="welcome-container">
  <h3 class="blink_me" id="start-btn">CLICK TO START</h3>
    <h3 class="welcome-text" data-text="1">
    <%= current_user.username %>, WELCOME TO 5BANGER5.
  </h3>

  <h3 class="welcome-text">
    5BANGERS IS A PRIVATE CLUB FOR DJS TO SHARE THEIR FAVORITE TRACKS TOGETHER.
  </h3>

  <h3 class="welcome-text">
    WE DO NOT EXPECT ANY SPECIFIC GENRE: WE ONLY WANT BANGERS.
  </h3>

  <h3 class="welcome-text">
    PLEASE DO NOT TELL ANYONE ABOUT 5BANGER5, UNLESS THEY HAVE EXCEPTIONAL TASTE.
  </h3>


  <%= link_to edit_user_path(current_user.username), id: "start-link" do %>
    <div class="welcome-text">
      <h3 class="blink_me">CLICK TO START</h3>
    </div>
  <% end %>
  <audio src="<%= audio_path 'intro.mp3'%>" id="music_source" type="audio/mpeg">
  </audio>
</div>
