<div class="welcome-container">
  <h3 class="blink_me" id="start-btn">CLICK TO START</h3>
    <h3 class="welcome-text" data-text="1">
    WELCOME TO 5BANGER5.
  </h3>

  <h3 class="welcome-text">
    DO NOT TELL ANYONE ABOUT 5BANGER5.  5BANGERS IS A SECRET ORGANIZATION WITH
    A LIMITED NUMBER OF MEMBERS. MEMBERS ARE NAMED AFTER THEIR ORDER OF ARRIVAL. AA000 IS THE FIRST MEMBER. ZZ999 IS THE LAST MEMBER. YOU ARE <%= current_user.username %>.
  </h3>

  <h3 class="welcome-text">
    MEMBERS ARE SELECTED BECAUSE OF THEIR UNIQUE TASTE IN MUSIC.THEY ARE THEN
    INVITED TO SHARE THEIR 5 FAVORITE TRACKS WITH THE COMMUNITY. IN TURN, THEY CAN
    DISCOVER NEW TRACKS THEY LOVE  BY SEARCHING FOR  OTHER MEMBERS PROFILES.
  </h3>

  <h3 class="welcome-text">
    WE DO NOT EXPECT ANY SPECIFIC GENRE: WE ONLY WANT BANGERS. WE LOVE WORLD MUSIC WITH CLUB POTENTIAL... BUT YOU ARE FREE TO SHARE THE MUSIC YOU LOVE. JUST REMEMBER WE DO NOT ACCEPT CONFORMITY.
  </h3>

  <%= link_to edit_user_path(@user), id: "start-link" do %>
    <div class="welcome-text">
      <h3 class="blink_me">CLICK TO START</h3>
    </div>
  <% end %>
</div>
