<div class="welcome-container">
 <!-- <h3 class="blink_me" id="start-btn">CLICK TO START</h3> -->
    <h3 class="welcome-text" data-text="1">
    WELCOME <%= @user.username %>
  </h3>

  <h3 class="welcome-text">
    5BANGER5 is a private club for djs and selectors to share their favorite gems together.
  </h3>

  <h3 class="welcome-text">
    We don’t expect any specific genre, we just want bangers.
  </h3>

  <h3 class="welcome-text">
    Please don’t tell anyone about 5BANGER5 unless they have exceptional taste.
  </h3>

  <%= link_to edit_user_path(@user), id: "start-link" do %>
    <div class="welcome-text">
      <h3 class="blink_me">CLICK TO START</h3>
    </div>
  <% end %>
</div>

